.btn{
    margin-top: 2%;
}
a {
    /*text-decoration: none;
    font-size: 22px;*/
    color: greenyellow;
  }
.userdetail{
  margin-left: 40%;
}
  
thead {
  background:aquamarine;
}
h2 {
  font-size: 50px;
  font-weight: 500;
  background-image: linear-gradient(to left, #553c9a, #b393d3);
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
}